<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <message/>
                <nestedField>
                    <fieldName>context</fieldName>
                    <providers>
                        <arguments/>
                        <stackTrace/>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>metadata</fieldName>
                    <providers>
                        <callerData>
                            <classFieldName>[ignore]</classFieldName>
                            <methodFieldName>[ignore]</methodFieldName>
                            <fileFieldName>file_name</fileFieldName>
                            <lineFieldName>line_number</lineFieldName>
                        </callerData>
                    </providers>
                </nestedField>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>